*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    box-sizing: border-box;
}

#logo-nav-div{
width: 100%;
min-height: 50px;
background-color: lightgray;
margin-bottom: 10px;
}

#logo-div{
    width: 50%;
    min-height: 50px;
    float: left;
    line-height: 50px;
    padding-left: 2%;
}

#nav-div{
    width: 50%;
    min-height: 50px;
    line-height: 50px;
    float: right;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#header-banner-div{
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    line-height: 100px;
    text-align: center;
    margin-bottom: 10px;
}
#intro-text-area-div{
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    line-height: 100px;
    text-align: center;
    margin-bottom: 10px;
}

#main-div{
    width: 100%;
    min-height: 400px;
    margin-bottom: 10px;
}

#main-div .box{
    width: 30%;
    min-height: 400px;
    background-color: lightgray;
    float: left;
    text-align: center;
    line-height: 400px;
}

#main-div .box:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

#footer-div{
    width: 100%;
    min-height: 50px;
    background-color: lightgrey;
    text-align: center;
    line-height: 50px;
}

#wrapper-div{
    width: 80%;
    margin: auto;
}

