*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    box-sizing: border-box;
}

#wrapper-div{
    width: 60%;
    min-height: 100px;
    margin: auto;
}
#logo-div{
    width: 100%;
    min-height: 50px;
    background-color: lightgrey;
    line-height: 50px;
    padding-left: 2%;
    margin-bottom: 10px;
}

#main-div{
    width: 100%;
    min-height: 500px;
}

#left-div{
    width: 25%;
    min-height: 500px;
    float: left;
}

#right-div{
    width: 70%;
    min-height: 500px;
    float: right;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#header-banner-div{
    width: 100%;
    min-height: 150px;
    background-color: lightgrey;
    margin-bottom: 50px;
    text-align: center;
    line-height: 150px;
}

#body-area-div{
    width: 100%;
    min-height: 300px;
    background-color: lightgray;
    margin-bottom: 10px;
    text-align: center;
    line-height: 300px;
}

#footer{
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;

}
