*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

#wrapper-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100px;
    margin: auto;
}

#logo-div{
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    align-items: center;
    padding: 2%;
}

#nav-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30px;
    background-color: lightgrey;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#header-banner-div{
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 100px;
   background-color: lightgray;
   margin-top: 10px;
   justify-content: center;
   align-items: center;
}

#main-div{
    display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 400px;
   margin-top: 10px;
   justify-content: space-between;
}

#sidebar-div{
    display: flex;
    flex-direction: row;
   flex-basis: 20%;
   background-color: lightgray;
   justify-content: center;
   align-items: center;
}

#body-area-div{
 display: flex;
 flex-direction: row;
 flex-basis: 75%;
 background-color: lightgray;
 justify-content: center;
   align-items: center;
}

#footer-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    margin-top: 10px;
    justify-content: center;
   align-items: center;
}